.result {
    margin: 32px 0;
    padding: 10px;
    background-color: rgb(4, 4, 49);
    border-radius: 10px;
    display: none;
    font-size: 30px;
    font-weight: 700;
}

.result.view {
    display: block;
}


